In [11]:
import yfinance as yf    
#shelanskey
import pandas as pd

dataF = yf.download("EURUSD=X", start="2024-06-06", end="2024-06-16", interval='15m') #YYYY=MM=DD
dataF.iloc[:,:]
#dataF.Open.iloc

[*********************100%%**********************]  1 of 1 completed

                         Open      High       Low     Close  Adj Close  Volume
Datetime
2024-06-06 00:00:00  1.087666  1.087666  1.087548  1.087666   1.087666       0
2024-06-06 00:15:00  1.087666  1.087666  1.087548  1.087666   1.087666       0
2024-06-06 00:30:00  1.087666  1.087784  1.087666  1.087666   1.087666       0
2024-06-06 00:45:00  1.087784  1.087784  1.087666  1.087666   1.087666       0
2024-06-06 01:00:00  1.087784  1.087903  1.087784  1.087903   1.087903       0
...                       ...       ...       ...       ...        ...     ...
2024-06-14 21:15:00  1.070778  1.071008  1.070778  1.071008   1.071008       0
2024-06-14 21:30:00  1.070893  1.071123  1.070893  1.071008   1.071008       0
2024-06-14 21:45:00  1.071008  1.071008  1.070664  1.070893   1.070893       0
2024-06-14 22:00:00  1.070893  1.070893  1.070893  1.070893   1.070893       0
2024-06-14 22:15:00  1.070893  1.070893  1.070893  1.070893   1.070893       0

[660 rows x 6 columns]

In [14]:
def signal_generator(df):
    open = df.Open.iloc[-1]
    close = df.Close.iloc[-1]
    previous_open = df.Open.iloc[-2]
    previous_close = df.Close.iloc[-2]

    #bearish
    if(open>close and previous_open<previous_close and close<previous_open and open>=previous_close):
        return 1

    #bullish
    elif(open<close and previous_open>previous_close and close>previous_open and open<=previous_close):
        return 2
    
    else: #no pattern
        return 0
    
signal = []
signal.append(0)
for i in range(1,len(dataF)):
    df = dataF[i-1:i+1]
    signal.append(signal_generator(df))

dataF["signal"] = signal